**/target
**/*.py
**/*.pyc
**/build/
**/.vscode/
Cargo.lock
!scripts/*
.vscode
distributions/
scripts/change_summary.txt
scripts/log.txt
scripts/tmp
rust-toolchain
plugin/hdr_version.txt
**/*.zip
**/*package/
**/zips/
*.zip
**/content_hashes.txt
**/diff/
scripts/artifacts/upgrade_deletions.txt
