**/target
**/*.py
**/*.pyc
**/build/
**/.vscode/
Cargo.lock
!scripts/*
.vscode
distributions/
scripts/change_summary.txt
scripts/log.txt
scripts/tmp
rust-toolchain
plugin/hdr_version.txt
**/*.zip
**/*package/
**/zips/
*.zip
**/content_hashes.txt
**/content_hashes.json
**/diff/
scripts/artifacts/deletions.json
**/upgrade/
**/upgrade_artifacts/
.DS_Store
romfs/source/fighter/buddy/motion/

*.code-workspace

*.sqlite

.vs/HewDraw-Remix/v17/.suo

*.lnk

scripts/banjo.bat

*.bat
