**/target
**/*.py
**/*.pyc
**/build/
**/.vscode/
!scripts/*
.vscode
distributions/
scripts/change_summary.txt
scripts/log.txt
scripts/tmp
rust-toolchain
**/hdr_version.txt
**/*.zip
**/*package/
**/zips/
*.zip
**/content_hashes.txt
**/content_hashes.json
**/diff/
scripts/artifacts/deletions.json
**/upgrade/
**/upgrade_artifacts/
.DS_Store