name: pr_build
on: 
  pull_request:
    branches:
      - dev

jobs:
  pr_build:
    env:
      PLUGIN_NAME: hdr
    runs-on: ubuntu-latest
    container: 
      image: jugeeya/cargo-skyline:2.1.0-dkp
    steps:
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9' 
    
    - name: checkout version
      uses: actions/checkout@v2

    # build the project
    - run: |
        export PATH=$PATH:/root/.cargo/bin:/opt/devkitpro/devkitA64/bin \
        && cd scripts && python3 make_dist.py build && cd ..
      env:
        HOME: /root

    ## mock upload files
    #- run: |
    #    mkdir distributions
    #    echo lol > distributions/hdr-switch.zip
    #    echo lol > distributions/hdr-ryujinx.zip

    - name: Upload hdr-switch
      uses: actions/upload-artifact@v2
      with:
        name: hdr-switch
        path: distributions/hdr-switch.zip
    - name: Upload hdr-ryujinx
      uses: actions/upload-artifact@v2
      with:
        name: hdr-ryujinx
        path: distributions/hdr-ryujinx.zip