name: pr_build
on: 
  pull_request:
    branches:
      - dev
      - pre-release
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  pr_build:
    env:
      PLUGIN_NAME: hdr
    runs-on: ubuntu-20.04
    container: 
      image: wuboyth/skyline-plugin-builder:latest
    steps:
    - name: setup python
      uses: actions/setup-python@v5.1.0
      with:
        python-version: '3.9' 
    
    - name: checkout version
      uses: actions/checkout@v4.1.4

    #- name: Rust Cache
    #  uses: Swatinem/rust-cache@v2.5.1
    #  with:
    #    workspaces: "plugin"
    #    cache-targets: true
    #    cache-all-crates: true

    # build the project
    - run: |
        cd scripts && NO_RUST_NIGHTLY=1 python3 make_dist.py build version=1.69.420-pr name=hdr-pr && cd ..
      env:
        HOME: /root

    ## mock upload files
    #- run: |
    #    mkdir distributions
    #    echo lol > distributions/hdr-switch.zip
    #    echo lol > distributions/hdr-ryujinx.zip

    - name: Upload hdr-switch
      uses: actions/upload-artifact@v4.3.3
      with:
        name: hdr-switch
        path: build/hdr-switch
